.login {
    min-width: 647px;
    min-height: 400px;
    border-radius: var(--border-radius);
    background: var(--main-bg-color);
    display: flex;
  }
.third {
    width: 247px;
    height: 400px;
    padding: 20px;
    background: var(--dark-bg-color) padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logoContainer {
        width: auto;
        height: 82px;
        display: flex;
        justify-content: center;
        margin: 45px 0 40px 0;
        object-fit: cover;
    }
    div {
        color: var(--grey-color);
        font-size: 14px;
        text-align: center;
        font-weight: 300;
    }
    .loginb {
        max-width: 50px;
        max-height: 25px;
        display: 'flex';
        align-items: 'center';
        justify-content: 'center';
        margin: '10px';
    }
    .logo {
        max-width: 25px;
        max-height: 25px;
        margin: 0 auto;
    }
    .buttoncont {
        display: flex;
        gap: 10px;
        margin: 20px;
    }
}
.email {
    padding: 20px;
    width: 100%;
    .userTypeCont {
        display: flex;
    }
    .userType {
        text-transform: uppercase;
        width: 50%;
        text-align: center;
        cursor: pointer;
        padding: 10px 0px;;
        margin: 30px auto;
        border-bottom: 2px solid #DDDDDD;
        color: #333333;

    }
    .selected {
        color: var(--primary-button-color);
        border-bottom: 2px solid var(--primary-button-color);
        transition: 0.4s;
    }
}
.form {
    display: flex;
    flex-direction: column;
    height: 250px;
    .inputWrap {
        position: 'relative';
        display: 'inline-flex';
        width: 100%;
        .icon {
            width: '20px';
            height: '20px';
            margin-left: -30px;
            margin-top: 5px;
        }
        input {
            padding-right: 30px;
        }
    }
    input {
        border: none;
        border-bottom: 2px solid #DDDDDD;
        padding: 10px;
        font-weight: 300;
        margin: 10px 0;
        color: black;
        width: 100%;
        text-decoration: none;
    }
    input::placeholder {
        font-size: 14px;
        text-decoration: none;
    }
    input:focus {
        outline: none;
        border-bottom: 2px solid var(--primary-button-color);
    }
    .forgot {
        text-decoration: none;
        margin: 19px 0 19px auto;
        max-width: 160px;
    }
    button[type='submit'] {
        // margin: 30px 0 0px 0;
        position: relative;
        bottom: -22px;
    }
   
}
  