.button {
    padding: 1px 10px;
    max-height: 25px;
    border: 2px solid var(--grey-color);
    border-radius: 3px;
    background-color: var(--grey-color);
    color: var(--grey-color);
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
      background-color: var(--primary-button-color);
      color: var(--main-bg-color);
    }
    &:disabled {
      cursor: not-allowed;
      background: #e0e0e0;
    }
    transition: background-color 0.2s ease;
  }
  